#                                             ***DataScienceEcosystem.ipynb***

# Data Science Tools and Ecosystem

***In this notebook, Data Science Tools and Ecosystem are summarized.***

**Objectives:**
* List popular languages for Data Science.
* List popular libraries for Data Science.
* List popular open source tools for Data Science.

***Some of the popular languages that Data Scientists use are:***
1. *Python*
2. *R*
3. *Java*t

***Some of the commonly used libraries used by **Data Scientists include:***
1. *Pandas*
2. *Numpy*
3. *Tensorflow*

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Apache Nifi | 
| Apache Kafka |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
total = 200 / 60;
print(total);

3.3333333333333335

## Author
Munib Ahmad